.oc-menu-horizontal {
  > .menu-item {
    border-bottom: $menu-item-active-border-width solid transparent;
  }
  .oc-submenu {
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    border: $menu-border-width solid $menu-border-color;
    border-radius: $border-radius;
    box-shadow: $submenu-box-shadow;
  }
}
