.oc-tabs {
  padding: 0px 20px;
  .tabs-nav {
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    border-bottom: $menu-border-width solid $menu-border-color;

    .nav-btns {
      display: flex;
      position: relative;
      box-sizing: border-box;
      margin: 0 15px;

      .nav-btn {
        margin: 0 0;
        border-style: none;
        background-color: $white;

        border-bottom: $menu-item-active-border-width solid transparent;
        transition: border 0.2s ease-in-out;
        &.is-active,
        &:hover {
          color: $primary;
          border-bottom: $menu-item-active-border-width solid
            $menu-item-active-color;
        }
      }
      &:first-child {
        float: left;
        margin: 0 15px 0 0;
      }
      &:last-child {
        float: right;
        margin: 0 0 0 15px;
      }
    }
  }
  .tabs-panel {
    margin-top: 20px;
    font-size: 2rem;
  }
}
